@import url('./Fonts/style.css');

*,::after,::before
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body
{
    width:100vw;
    height:100vh;
    max-width:100vw;
    max-height:100vh;
    font-family: 'Armin Grotesk';
}

li
{
    list-style-type: none;
    display: inline;
}

a
{
    text-decoration: none;
    color: white;
}


.btn
{
    border:none;
    border-radius:5px;
    padding:9px 1.5rem;
    font-size:14px;
    background-color: #381fd1;
    color: white;
    cursor: pointer;
}

.btn:hover
{
    background-color: #371fd183;
}
